*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  max-width: 455px;
}
h1,h2,h3,h4,h5{
  font-family: Arial, Helvetica, sans-serif;

}
p,span{
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 1.6;
}
.v_para{
position: relative;
padding: 10px 0 1px 15px;
}
.v_num{
  color: rgb(211, 33, 33);
  font-size: 12px;
  position: absolute;
  top:2px;
  left: 0;
}
#b_chapter{
  margin: 15px 0;
}
.v_title{
  font-style: italic;
  opacity: 0.6;
}
.bible_head{
  display: flex;
  position: fixed;
  background: white;
  box-shadow: 0 6px 13px #00000026;
  z-index: 9;
  border-radius: 0 0 15px 15px;
  justify-content: space-between;
  width: 100%;
}
.app_info{
  padding: 20px;
}
.open{
  position: absolute;
  z-index: 9999;
  bottom: 65px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  font-size: 18px;
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.13);
}
.app_menu{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  background-color: white;
}

.info{
  padding: 20px;
}
.switch{
  width: 50px;
  height: 20px;
  border: 1px solid #1f1f1f;
  background: grey;
}
.bible_read_body{
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 100px 20px 50px 20px;
  text-align: justify;
  transition: padding 250ms ease;
}
.highlight_box{
  height: 250px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  background: #e4e4e4;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
}
.hlb_header{
  display: flex;
  justify-content: space-between;

}
.close_hlb{
 width: 35px;
 height: 35px;
 display: flex;
 align-items: center;
 justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
}
